* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: Arial, Helvetica, sans-serif;
}

h2,
h1 {
  color: rgb(92, 92, 92);
}

h3 {
  text-align: center;
}

p,
a {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: hsl(244, 52%, 94%);
  max-width: 100%;
  overflow-x: hidden;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #cacaf6;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 2px solid black;
}

th,
td {
  border: 1px solid black;
}

td {
  width: 150px;
  text-align: center;
}

.bodyhr {
  width: 30%;
  border: 1px solid rgb(175, 175, 175);
}

@media (min-width: 700px) {
  .inform {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    padding: 15px;
    background-color: #e5e4fb;
    color: black;
    bottom: 40px;
  }
  .sidebar {
    margin-top: 50px;
    margin-left: 0;
    width: 100px;
    background-color: #fff5d7;
    position: fixed;
    left: 0;
    height: 100%;
    overflow: auto;
    text-align: center;
  }

  header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 5px;
    background: rgba(202, 202, 247, 0.5);
    color: #fff;
  }

  header h1 {
    margin: 0;
  }
}

@media (max-width: 699px) {
  .inform {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 15px;
    background-color: #e5e4fb;
    color: black;
    bottom: 40px;
  }
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    background-color: #fff5d7;
    text-align: center;
  }
  header {
    display: none;
  }
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #4caf50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.infoimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  height: 70px;
  padding-top: 1%;
  padding-bottom: 1%;
}

.image {
  margin: 0 25px 7px 0;
  width: 100px;
  height: 100px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
